html, body {
    margin: 0;
    padding: 0;
  }
  
  canvas {
    display: block;
  }
  
  video {
    position: fixed;
    top: 20;
    left: 0;
    z-index: 99;
  }

  body {
background-color: #202020;
}